* {
  border: 2px, solid, red;
}
body {
  background-image: url(/img/red-knit.jpg);
  font-family: 'Gentium Book Plus', serif;
}
.flex-container {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#header {
  display: flex;
  flex-direction: row;
}

img {
  border: 1px solid black;
}

#intro {
  background-color: bisque;
  border: 3px dashed grey;
  padding: 2%;
  text-align: center;
  font-size: 1.5em;
}

h1 {
  font-size: 50px;
}

#form {
  background-color: cadetblue;
  border: 3px solid darkred;
  padding: 3%;
  font-size: 1.5em;

}

#results {
  background-color: rgb(20, 133, 20);
  border: 3px dashed greenyellow;
  padding: 3%;
  font-size: 1.5em;
  align-items: center;
}

#clear-button {

}

.hidden {
  display: none;
}

