body {
  background-image: url(../img/red-knit.jpg);
  font-family: 'Gentium Book Plus', serif;
}

.flex-container {
  margin: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

h1 {
  text-align: center;
  background-color: #e69549;
  border: 2px dashed #2684a3;
  border-radius: 15%;
  padding: 1%;
  margin-right: 3%;
  margin-left: 3%;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1%;
}

h1 {
  font-size: 50px;
}

img {
  border: 3px solid black;
}

#intro {
  background-color: #2684a3;
  border: 3px dashed #809ca6;
  text-align: center;
  font-size: 1.5em;
}

#row {
  display: flex;
  flex-direction: row;
}

#form {
  background-color: #809ca6;
  border: 3px dashed #e69549;
  padding: 3%;
  font-size: 1.5em;
  margin-left: 5%;
}

#results {
  background-color: #a66005;
  border: 3px dashed #2684a3;
  font-size: 1.5em;
  align-items: center;
  gap: 3%;
}

.hidden {
  display: none;
}